[user]
	email = 10291597+etgonehomie@users.noreply.github.com
	name = etgonehomie
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.config/git/.gitignore_global
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[credential]
	helper = osxkeychain
[merge]
	tool = vimdiff
	conflictstyle = diff3